span {
    background: red;
    display: inline-block;    
}

span {
    padding: 30px;
    padding-top: 10px;
    padding: 40px 100px 200px 10px;
    padding: 10px 50px;
    /* border: 1px solid black;
    border-bottom: 5px solid blue; */
    
    border-top: 5px;
    border-right: 2px;
    border-left: 10px;
    border-bottom: 20px;
    border-color: yellow;
    
    border-style: solid;
    
}