body {
    font-family: Arial;
    margin: 40px;

}

.grid {
    display: grid;
    /* background: yellow; */
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

img {
    max-width: 100%;
    border-radius: 4px;
}

.titulo {
    grid-column: 1 / -1;
    text-align: center;
}

.info {
    display: grid;
    gap: 20px;
    /* place-self: start; */
    place-items: start;
}

h1 {
    margin: 0;
    font-size: 80px;
}

p,
span {
    font-size: 50px;
    margin: 0;
}

.comprar {
    color: white;
    background: black;
    padding: 10px 20px;
    font-size: 50px;
    text-decoration: none;
    border-radius: 4px;
}

.preco {
    background: gray;
    padding: 5px 10px;
    border-radius: 4px;
}