body {
    font-family: Arial;
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 20px;
    margin: 5px;
}

h2 {
    margin: 0;
}
.comprar {
    background: plum;
    color: rgb(80, 1, 80);
    text-decoration: none;    
    display: inline-block;
    padding: 10px;
    border-radius: 4px;
}

.grid {
    /* background: yellow; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px; 
    padding: 10px;
    place-content: start; 
}

.item {
    background: peachpuff;
    border: 1px solid pink;
    padding: 5px;
    display: grid;
}

img {
    max-width: 100%;
    
    border: 1px solid rgb(80, 1, 80);;
}
