body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: #f7f7f7;    
}
img{
    width: 100%;
    display: block;
    grid-column: 2/-1;
    border-radius: 8px;
    background: white;
}
#logo{
    display: block;
    max-width: 5%;
    grid-column: 1/-1;
    justify-self: center;
    background: white;
}
.grid{
    display: grid;
    padding: 10px 50px;
    grid-template-columns: 800px;
    background: #f7f7f7;
    justify-content: center;
    /* grid-template-columns: repeat(4, 1fr); */
}
.menu{
    grid-column: 1/-1;
    padding: 20px;
    text-transform: uppercase;
    background: white;
}
.menu a{
    border: 1px solid black;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 4px;
    background: #4DB6AC;
    color: #fff;
}
.conteudo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: white;
}
a{
    max-width: 50%;
}
#vantagens{
   grid-column: 1/-1; 
}
.introducao {
    background: white;
    padding: 40px;
    text-align: right;
    justify-content: center;
    align-content: center;
}
.introducao a{
    text-decoration: none;
    background: red;
    color: white;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 8px;

}
.conteudo p{
    color: gray;
}
h2{
    font-size: 40px;
    padding: 5px;
}