h1 {
    text-align: center;
    font-family: Arial;
}

span {
    color: #febe01;
    font-family: Arial;
}
 
a {
    color: #111;
    display: inline-block;
    background: #febe01;
    font-family: Arial;
    text-decoration: none;
    border-radius: 4px;
    padding: 10px;
}

h2 {
    font-family: Arial;
    padding: 0;
    margin: 0;
}

div{
    color: #b2b2b2;
    font-family: Arial;
    background: #111;
    border-radius: 4px;
    padding: 20;
    text-decoration: none;
    margin: 20px;
    width: 40%;
    
}

.inlineblock {
    display: inline-block;
}